<section class="d-flex align-items-center py-4 bg-body-tertiary h-100">
    <div class="w-50 m-auto form-container container-centered">
         <form>
            <div>
                <img  class="form-control border-0 mb-3" src="../../../assets/images/gardener.png" height="200px" width="40">
            </div>
            <div class="form-floating separed">
                <input type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">Seu Nome</label>
            </div>
            <div class="form-floating  separed">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Seu email</label>
            </div>
            <div class="form-floating  separed">
                <input type="number" class="form-control" id="floatingInput">
                <label for="floatingInput">Seu telefone</label>
            </div>
            <div class="form-floating  separed">
                <input type="cpf" class="form-control" id="floatingInput">
                <label for="floatingInput">Seu CPF</label>
            </div>
             <button class="btn btn-success w-100 py-2">Cadastrar</button>
         </form>
    </div>
 </section>

