.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.separed {
    margin-bottom: 15px;
}

#floatingInput {
    width: 250px;
}
