<section>
    <div class="centered-container">
      <h1>Seja Bem Vindo!</h1>
    </div>
    <div class="centered-container">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <h3>Quem Somos?</h3>
          <img ngSrc="/assets/images/gardenerReal.jpg" alt="Gardener" width="400" height="250">
        </div>
        <div class="col-sm-6 mx-auto">
          <h3>Como trabalhamos?</h3>
          <img ngSrc="/assets/images/gardenerReal2.jpg" alt="Gardener" width="400" height="250">
        </div>
      </div>
    </div>
    <div class="centered-container row">
      <h1>Contrate nossos Seviços!</h1>
      <div class="card mx-3 centered" style="width: 18rem;">
        <img ngSrc="/assets/images/gardener2.png" alt="Gardener" width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Serviços</h5>
          <p class="card-text">Confira nossos serviços</p>
          <a routerLink="/home" class="btn btn-success">Entrar</a>
        </div>
      </div>
      <div class="card mx-3 centered" style="width: 18rem;">
        <img ngSrc="/assets/images/produtos.png" alt="Gardener" width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Confira nossos produtos</p>
          <a routerLink="/home" class="btn btn-success">Entrar</a>
        </div>
      </div>
    </div>
</section>
