<section class="d-flex align-items-center py-4 bg-body-tertiary h-100">
    <div class="w-50 m-auto form-container container-centered">
         <form>
             <div class="form-floating separed">
                 <input type="email" class="form-control" id="floatingInput" placeholder="seuemail@gmail.com">
                 <label for="floatingInput">Email</label>
             </div>
             <div class="form-floating separed">
                 <input type="password" class="form-control" id="floatingInput" placeholder="Ex: 123suasenha">
                 <label for="floatingInput">Senha</label>
             </div>
             <button class="btn btn-success w-100 py-2">Entrar</button>
         </form>
    </div>
 </section>