<section>
    <h1>Pesquisar Clientes</h1>
    <div class="container container-table border row align-items-center">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" (click)="goSearch()">Search</button>
          </form>
        <table class="table table-striped-columns table-hover">
            <tr>
                <th>Pedidos</th>
                <th>Clientes</th>
                <th>Valor do pedido</th>
                <th>status</th>
            </tr>
            <tr>
                <td>#5894375</td>
                <td>Vinícius Praxedes</td>
                <td>R$10.00</td>
                <td>concluído</td>
                <th><a class="btn btn-success">Teste</a></th>
            </tr>
            <tr>
                <td>#5844556</td>
                <td>Júlia Alves</td>
                <td>R$100.00</td>
                <td>concluído</td>
                <th><a class="btn btn-success">Teste</a></th>
            </tr>
            <tr>
                <td>#5825122</td>
                <td>Igor Rocha</td>
                <td>R$64.99</td>
                <td>concluído</td>
                <th><a class="btn btn-success">Teste</a></th>
            </tr>
            <tr>
                <td>#5824436</td>
                <td>Maria Helena</td>
                <td>R$400.00</td>
                <td>concluído</td>
                <th><a class="btn btn-success">Teste</a></th>
            </tr>
            <tr>
                <td>#3546746</td>
                <td>Mariana Silva</td>
                <td>R$30.00</td>
                <td>concluído</td>
                <th><a class="btn btn-success">Teste</a></th>
            </tr>
          </table>
          <button class="btn btn-outline-success custom" (click)="goSearch()">Editar</button>
          <button class="btn btn-outline-danger custom" (click)="goSearch()">Excluir</button>
    </div>
</section>
