<nav class="navbar bg-body-tertiary">
    <div class="container-fluid bgcolor">
      <a class="navbar-brand">Home</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success btnStyle" type="submit">Search</button>
      </form>
    </div>
</nav>
<main>
    <div class="container centered">
        <table class="table table-striped-columns table-hover">
            <tr>
                <th>Pedidos</th>
                <th>CLientes</th>
                <th>Valor do pedido</th>
            </tr>
            <tr>
                <td>#5894375</td>
                <td>Vinícius Praxedes</td>
                <td>R$10.00</td>
            </tr>
            <tr>
                <td>#5844556</td>
                <td>Júlia Alves</td>
                <td>R$100.00</td>
            </tr>
            <tr>
                <td>#5825122</td>
                <td>Igor Rocha</td>
                <td>R$64.99</td>
            </tr>
            <tr>
                <td>#5824436</td>
                <td>Maria Helena</td>
                <td>R$400.00</td>
            </tr>
            <tr>
                <td>#3546746</td>
                <td>Mariana Silva</td>
                <td>R$30.00</td>
            </tr>
          </table>
    </div>
</main>
