<section>
  <h1>Pesquisar Clientes</h1>
  <div class="container container-table border row align-items-center">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" (click)="goSearch()">Search</button>
    </form>
    <table class="table table-striped-columns table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>CPF</th>
          <th>Tipo de usuário</th>
        </tr>
      </thead>
      <tbody>
        @for(client of clients; track client.id) {
          <tr ng-repeat="client in clients track by client.id" ng-class="getColorClass($index)">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.cel }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.registryUser }}</td>
            <th><a class="btn btn-danger" (click)="deleteClient(client)">Delete</a></th>
            <th><a class="btn btn-success" [routerLink]="[client.id, 'upgrade']">Update</a></th>
          </tr>
          }
        <button class="btn btn-success btn-down" type="submit" (click)="goCreate()">Cadastrar</button>
      </tbody>
    </table>
  </div>
</section>
